/* css go here */

/* restyles notices back to default styles (bulma breaks notice styling) */
/* NEEDS TO BE IMPLEMENTED IN SASS AFTER WE TRANSITION TO SASS */
.notices p {
    padding: 1px 1px 1px 30px;
    margin: 15px 0;
}

/* from https://codepen.io/leonidboykov/pen/Edvvpm, CODEPEN HAS SASS SOURCES */
.hero.has-background {
    position: relative;
    overflow: hidden;
  }
  .hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  .hero-background.is-transparent {
    opacity: 0.3;
  }