/*
  COLORS from clrs.cc by mrmrs and johno
  Better default colors for the web
  https://github.com/mrmrs/colors
*/
$clrs_navy: #001F3F; 
$clrs_blue: #0074D9; 
$clrs_aqua: #7FDBFF; 
$clrs_teal: #39CCCC; 
$clrs_olive: #3D9970; 
$clrs_green: #2ECC40; 
$clrs_lime: #01FF70; 
$clrs_yellow: #FFDC00; 
$clrs_orange: #FF851B; 
$clrs_red: #FF4136; 
$clrs_fuchsia: #F012BE; 
$clrs_purple: #B10DC9; 
$clrs_maroon: #85144B; 
$clrs_white: #FFFFFF; 
$clrs_silver: #DDDDDD; 
$clrs_gray: #AAAAAA; 
$clrs_black: #111111; 
