<div class="columns py-4 mx-auto" style="max-width:1300px">
    <div class="column px-3 mx-auto">
        <div class="">            
            <h2 class="has-text-centered">{{ header.left.title }}</h2>
            <p class="has-text-justified">{{ header.left.content }}</p>
        </div>
    </div>
    <div class="column px-3 mx-auto">
        <div class="">
            <h2 class="has-text-centered">{{ header.right.title }}</h2>
            <p class="has-text-justified">{{ header.right.content }}</p>
        </div>
    </div>
</div>