<div class="px-3 py-4 mx-auto" style="max-width:1300px">
  <div class="tile is-ancestor">
    {% for tile in header.tiles %}
      <div class="tile is-parent">
        <div class="tile is-child box">
          <div class="container has-text-centered">
            {% if tile.icon %}
              <span class="fa {{ tile.icon }}" style="font-size:6em"></span>
            {% endif %}
            <h3 class="title">
              {{ tile.title }}
            </h3>
            <p class="subtitle">{{ tile.subtitle }}</p>
            <p> {{ tile.body|markdown }} </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>