<div class="footer">
    <div class="container">
        <span class="icon">
            <ion-icon name="logo-instagram"></ion-icon>
        </span>
    </div>
    <div class="has-text-centered">
        <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
    </div>
</div>