<section class="hero is-medium is-link">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1">
          {% if hero.content.title %}
            {{ hero.content.title }}
          {% else %}
            {{page.title}}
          {% endif %}
        </h1>
        {% if hero.content.subtitle %}
          <p class="subtitle is-4">
            {{ hero.content.subtitle }}
          </p>
        {% endif %}
      </div>
    </div>
  </section>